<div ng-if="currentUser == null">
  <p>Log in to access admin functionality.</p>
</div>

<div ng-if="secretData.length > 0">
  <h2>Add a User</h2>
  <form ng-submit="addUser()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="user@email.com" ng-model="newUser.email">
    </div>
    <div class="form-group">
      <select name="clearance-level" id="clearanceLevel" ng-options="secret.secrecyLevel as secret.secrecyLevel for secret in secretData | orderBy: 'secrecyLevel'" ng-model="newUser.clearanceLevel"></select>
    </div>
    <div class="form-group">
      <button class="btn btn-default">Add User</button>
    </div>
  </form>
</div>

<table ng-if="users.length > 0">
  <thead>
    <tr>
      <th>Email</th>
      <th>Clearance Level</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.email}}</td>
      <td>{{user.clearanceLevel}}</td>
      <td><input type="checkbox" ng-checked="user.active"></td>
    </tr>
  </tbody>
</table>
